body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b8ccdb;
}

header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #000000;
}

.icono {
    display: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    color: blue;
}

@media (max-width: 550px) {
    .menu {
        display: none;
    }
}

@media (max-width: 550px) {
    .icono {
        display: block;
    }
}